/* Fonts ================ */

@font-face {
  font-weight: 400;
  font-family: "Peyda";
  src: local(""),
    url("../fonts/PeydaWeb-Regular.woff2") format("woff2"),
    url("../fonts/PeydaWeb-Regular.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Peyda";
  src: local(""),
  url("../fonts/PeydaWeb-Bold.woff2") format("woff2"),
  url("../fonts/PeydaWeb-Bold.woff") format("woff");
}
/* ================ end fonts  */
