// PAGE
.page {
  //display: flex;
  //flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  background-image: url("../images/desktop_bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;

  @media screen and (max-width: 1700px) {
    background-position: top;
    background-size: cover;
  }

  @media screen and (max-width: 1200px) {
    background-position: -70px 0;
  }

  @media screen and (max-width: 979px) {
    background-color: #021e43;
    background-image: url("../images/mobile_bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  //@media screen and (max-width: 360px) {
  //  background-size: contain;
  //}
}

.page__wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  @media screen and (max-width: 599px) {
    align-items: flex-start;
  }
}
