/* Typography ======================= */

$font-family-main: "Peyda";

$text-xs: 16px;
$text-s: 20px;
$text-m: 25px;
$text-l: 32px;
$text-xl: 80px;

$text-weight-regular: 400;
$text-weight-bold: 700;

$line-height-main: 1.5;
$line-height-title: 1.5;

$text-color: var(--white-100);
$title-color: var(--white-100);

@mixin font(
  $color: $text-color,
  $weight: $text-weight-regular,
  $size: $text-m,
  $lineHeight: $line-height-main
) {
  color: $color;
  font-weight: $weight;
  font-size: $size;
  line-height: $lineHeight;
}

body {
  @include font();
  font-family: $font-family-main;
  direction: rtl;
  // https://github.com/siavash-asghari/task-app/blob/bff72609661c091441bfd44b1d3b7f83e685da50/src/index.css

  @media screen and (max-width: 1200px) {
    font-size: 16px;
    line-height: 1.2;
  }
}

h1,
.h1 {

  @include font(
    $title-color,
    $text-weight-bold,
    $text-xl,
    $line-height-title
  );

  @media screen and (max-width: 1200px) {
    font-size: 48px;
  }

  @media screen and (max-width: 599px) {
    font-size: 32px;
  }
}

h2,
.h2 {

  @include font(
    $title-color,
    $text-weight-regular,
    $text-l,
    $line-height-title
  );

  @media screen and (max-width: 1200px) {
    font-size: 24px;
  }

  @media screen and (max-width: 599px) {
    font-size: 20px;
  }
}

h3,
.h3 {

  @include font(
    $title-color,
    $text-weight-regular,
    $text-m,
    $line-height-title
  );
}

h4,
.h4 {

  @include font(
    $title-color,
    $text-weight-regular,
    $text-s,
    $line-height-title
  );
}

p {
  margin-top: 0;
  line-height: $line-height-main;
}

a {
  color: $text-color;
  line-height: $line-height-main;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $text-color;
    text-decoration: none;
  }
}
/* ================ end typography  */
