// Content --------------------------------
.container {
  display: flex;
  width: 100%;
  max-width: 1166px;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;

  @media screen and (max-width: 979px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

.content {
  width: 480px;

  @media screen and (max-width: 1200px) {
    width: 400px;
  }

  @media screen and (max-width: 979px) {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 480px;
    padding-top: 120px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }

  @media screen and (max-width: 767px) {
    padding-top: 100px;
  }

  @media screen and (max-width: 599px) {
    padding-top: 50px;
  }
}

.content__logo {
  width: 224px;

  @media screen and (min-width: 980px) and (max-width: 1200px) {
    width: 160px;
  }

  @media screen and (max-width: 979px) {
    margin: 0 auto;
  }

  @media screen and (max-width: 767px) {
    width: 130px;
  }

  @media screen and (max-width: 599px) {
    width: 100px;
  }
}

.content__title {
  margin-top: 20px;
  margin-bottom: 0;

  @media screen and (max-width: 767px) {
    margin-top: 15px;
  }
}

.content__subtitle {
  margin-top: 10px;
  margin-bottom: 0;

  @media screen and (max-width: 767px) {
    margin-top: 5px;
  }
}

.content__row {
  display: grid;
  grid-template-areas:
    "link_two link_one link_one"
    "link_three link_three link_three";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 170px 1fr;
  gap: 24px 20px;
  margin-top: 24px;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr 120px 1fr;
  }

  @media screen and (max-width: 599px) {
    grid-template-areas:
      "link_one link_one link_one"
      "link_two link_three link_three";
    grid-template-columns: 1fr 50px 1fr;
    gap: 10px 10px;
  }
}

.content__link {
  grid-area: link_one;
  display: block;
  padding: 18px;
  border-radius: 10px;
  text-decoration: none;
  background-image: linear-gradient(to top, var(--primary-100), var(--primary-200));
  box-shadow: 3px 5px 40px 0 rgba(20, 160, 255, .39);

  &:hover {
    background-image: linear-gradient(to top, var(--primary-200), var(--primary-100));
  }

  @media screen and (min-width: 980px) and (max-width: 1200px) {
    padding: 14px;
  }

  @media screen and (max-width: 599px) {
    padding: 10px;
  }
}

.content__link--small {
  grid-area: link_two;
  //width: 170px;
  //margin-left: 20px;
}

.content__promo {
  //flex-grow: 1;
  grid-area: link_three;
  display: flex;
  flex-direction: row-reverse;
  padding: 18px;
  border-radius: 10px;
  text-decoration: none;
  background-image: linear-gradient(to top, var(--secondary-100), var(--secondary-200));
  box-shadow: 3px 5.2px 40px 0 rgba(222, 178, 0, .39);

  span {
    display: block;
    text-align: right;

    &:first-child {
      flex-grow: 0;
    }

    &:last-child {
      flex-grow: 1;
      @include textTruncate();
    }
  }

  @media screen and (min-width: 980px) and (max-width: 1200px) {
    padding: 14px;
  }

  @media screen and (max-width: 599px) {
    padding: 10px;
  }
}

.content__footer {
  margin-top: 120px;

  @media screen and (min-width: 980px) and (max-width: 1200px) {
    margin-top: 50px;
  }

  @media screen and (max-width: 979px) {
    margin-top: 50px;
  }

  @media screen and (max-width: 767px) {
    margin-top: 20px;
  }
}

.content__pseudo-button {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  min-width: 140px;
  height: 50px;
  padding: 10px;
  border: solid 1px rgba(255, 255, 255, .2);
  border-radius: 10px;
  color: var(--white-100);
  text-align: center;
  text-decoration: none;
  @include textTruncate();

  span {
    margin-left: 4px;
  }

  &:hover {
    background-color: rgb(255 255 255 / 6%);
  }

  @media screen and (max-width: 599px) {
    height: 40px;
  }
}

.girls-mobile {

  @media screen and (min-width: 980px) {
    display: none;
  }

  @media screen and (max-width: 767px) {
    margin-top: 20px;
  }
}
// -------------------------------- end content
