.container
  .content
    img(src="images/logo.svg" alt="logo 1xbet" class="content__logo")
    h1.content__title وان ایکس بت
    h2.content__subtitle پیــش بینی حــرفه ای مسـابقات ورزشــی
    .content__row
      a(href="#" class="content__link") دانلود اپلیکیشن اندروید
      a(href="#" class="content__link content__link--small") ثبت نام
      .content__promo
        span 1x5868
        span کد هدیه برای  ثبت نام
    .content__footer
      a(href="#" class="content__pseudo-button") آموزش شارژ حساب
        span +
  .girls-mobile
    img(src="images/girls-mobile.png" alt="Girls" class="girls-mobile__image")
