include ../../lib/core/mixins/global_mixins

//- global variables
block variables

doctype html
html(lang="ru")
  include modules/head
  body(class="page " + pageClass)

    //- page content
    main.page__wrapper
      block content

    //- page scripts
    include modules/scripts
    block scripts
